---
  openapi: 3.0.1
  info:
    title: "PayFac: Submerchant Provisioning API"
    description: "API to create and maintain PayFac submerchants \n # Authentication \n<SecurityDefinitions />"
    contact:
      name: PayFac API Solutioning Group
      email: payfacsolutioning@fisglobal.com
    license:
      name: FIS Proprietary
    version: 3.0.2
  servers:
  - url: https://apis.cert.worldpay.com/payfacc/merchant/provisioning/boarding/v3
  tags:
  - name: Health
    description: Resource to check the service availability.
  - name: Divisions
    description: Resource to obtain the divisions for a PayFac
  - name: Chains
    description: resource to obtain information about the chain codes of a PayFac
  - name: SubMerchant
    description: Resources to create and maintain SubMerchants.
  - name: Owners
    description: Resources to create and maintain owners information for a PayFac SubMerchant
  - name: Resource ID
    description: Resource to get the resource id for a PayFac submerchant using it's MID
  - name: Issued IDs
    description: Resources to create and maintain Issued Ids for a PayFac SubMerchant
  - name: Contacts
    description: Resources to create and maintain contact information for a PayFac SubMerchant
  - name: Addresses
    description: Resources to create and maintain address information for a PayFac SubMerchant
  - name: Accepted Cards
    description: Resources to create and maintain accepted card information for a PayFac SubMerchant
  - name: Default Bank Account
    description: Resources to create and maintain account information for a PayFac SubMerchant
  - name: Advanced Settlement Account
    description: Resources to create and maintain account information for a Advanced Settlement Categories
  - name: Underwriting Status
    description: Resource to check the underwriting status for a PayFac submerchant
  - name: Terminals
    description: Resources to create and maintain Terminal Settings for a PayFac SubMerchant
  - name: Express Sub-Account
    description: Resources to create and maintain sub-account information for a PayFac SubMerchant
  - name: VAS - Omni Token
    description: Resources to create and maintain omni token enablement for a PayFac SubMerchant
  - name: VAS - PASS Token
    description: Resources to create and maintain pass token enablement for a PayFac SubMerchant
  - name: VAS - Recurring Billing
    description: Resources to create and maintain recurring billing enablement for a PayFac SubMerchant
  - name: VAS - Account Updater
    description: Resources to create and maintain account updater enablement for a PayFac SubMerchant
  - name: VAS - PINless Debit
    description: Resources to create and maintain pinless debit enablement for a PayFac SubMerchant
  - name: VAS - PIN Debit
    description: Resources to create and maintain pin debit enablement for a PayFac SubMerchant
  - name: VAS - eCheck
    description: Resources to enable and disable submerchants for eCheck
  - name: VAS - FraudSight
    description: Resources to enable and disable submerchants for FraudSight
  - name: VAS - Review Trackers
    description: Resources to enable and disable submerchants for Review Trackers
  - name: VAS - Apple Pay
    description: Resources to enable and disable submerchants for Apple Pay
  - name: VAS - Google Pay
    description: Resources to enable and disable submerchants for Google Pay
  - name: VAS - HPP
    description: Resources to enable and disable submerchants for Hosted Payments Pages
  paths:
    /healthcheck:
      get:
        tags:
        - Health
        summary: Retrieves health status of the PayFac submerchant
        description: This URI will retrieve the health status of the PayFac submerchant provisioning APIs and will display if the status is UP or DOWN.
        operationId: Healthcheck
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                description: The unique UUID that is sent in each request
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HealthCheckResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                description: The unique UUID that is sent in each request
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
          "503":
            description: Service Unavailable
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
        security:
        - api_key: []
    /divisions:
      get:
        tags:
        - Divisions
        summary: Retrieves the Division Code for a payfac
        description: "URI to get all the divisions for a PayFac. A list of divisions will only be returned for Payfacs currently using Divisions in their hierarchy. If a PayFac is not using Divisions, this call will still be successful but the response will be empty."
        operationId: Divisions
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DivisionsGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      post:
        tags:
        - Divisions
        summary: 'Create a new Division Code '
        description: "This URI will create a new Division Code by taking the  Chain Code, Division Name, Contact Data and Address Data as inputs."
        operationId: CreateDivision
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsToCreate'
          required: true
        responses:
          "201":
            description: Created
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DivisionsPostResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /divisions/{chainCode}:
      get:
        tags:
        - Divisions
        summary: 'Retrieve  all the divisions for a Chain Code '
        description: "URI to get the all the divisions for a Chain Code. A list of divisions will only be returned for Payfacs currently using Divisions in their hierarchy. If a PayFac is not using Divisions, this call will still be successful but the response will be empty."
        operationId: DivisionsByChain
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The Chain Code a list of divisions will be returned for
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DivisionsGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /divisions/{chainCode}/{divisionCode}:
      get:
        tags:
        - Divisions
        summary: 'Retrieve  all the information for a specific Division Code '
        description: "URI to get the all the relevant information for a specific division Code. If a PayFac is not using Divisions, this call will still be successful but the response will be empty."
        operationId: DivisionByDivisionCode
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The Chain Code for which a list of divisions will be returned
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: divisionCode
          in: path
          description: The division code for which the information needs to be returned
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DivisionsPostResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      put:
        tags:
        - Divisions
        summary: 'Updates information for PayFac Divisions resource '
        description: "URI to update information of a PayFac Divisions resource.Please note that all PUT requests are replace requests, and any optional attribute that was provided earlier, but missed in the PUT request will be overridden with NULL. This might not be applicable in this particular case as all attributes in this PUT request are mandatory. <br/> ***If the Division code needs to be updated, it can be done using PATCH /submerchants/{id} endpoint with the Division code sent in the request body***"
        operationId: UpdateDivisions
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The chain code under which the division name has to be updated
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: divisionCode
          in: path
          description: The division code for which the division name has to be updated.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsForUpdate'
          required: true
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DivisionsForUpdateResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      delete:
        tags:
        - Divisions
        summary: Remove Division underneath a Chain.
        description: URI to remove a Division underneath a Chain.
        operationId: DeleteDivisions
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The chain code under which the division has to be removed.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: divisionCode
          in: path
          description: The division code
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: Success
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DefaultSuccessResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      patch:
        tags:
        - Divisions
        summary: ' Update information for PayFac Divisions resource'
        description: "URI to update information of a PayFac Divisions resource. <br/> ***If the Division code needs to be updated for a submerchant, it can be done using PATCH /submerchants/{id} endpoint with the Division code sent in the request body***"
        operationId: PatchDivisions
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The chain code under which the division name has to be updated
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: divisionCode
          in: path
          description: The division code
          required: true
          style: simple
          explode: false
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsForPatch'
          required: true
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DivisionsForPatchResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /chainCodes:
      get:
        tags:
        - Chains
        summary: Retrieve chain codes for a PayFac
        description: URI to get the all the chain codes for a PayFac.
        operationId: getChains
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChainsGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /chainCodes/config/{chainCode}:
      get:
        tags:
        - Chains
        summary: Retrieve configuration for chain code
        description: URI to get the configuration for a specific chain code
        operationId: getChainConfig
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The chain code
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChainConfig'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/{mid}/resourceid:
      get:
        tags:
        - Resource ID
        summary: Retrieve identifier for PayFac submerchant
        description: "URI to get the identifier for a PayFac submerchant resource <br/> <br/> For an existing Sub-Merchant, if you want to get the resource ID that is used in all the resources, then this resource can be used with the Sub-Merchant Merchant Identifier mid. In the case of a retrieval request, the system does not require an accompanying Request body."
        operationId: GetSubmerchantResourseIdByMid
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: mid
          in: path
          description: The merchant identifier of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResourceIdGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants:
      post:
        tags:
        - SubMerchant
        summary: Add a new Payfac Submerchant
        description: |-
          URI to add a new PayFac submerchant resource to submerchants collection. <br/> When you create a sub-merchant the Boarding Interface will auto-enable the following VAS if they are enabled at the Chain Code level:
          * PIN Debit
          * PINless Debit
  
           PIN - Personal Identification Number
        operationId: CreateSubmerchant
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubMerchant'
          required: true
        responses:
          "201":
            description: Created
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SubMerchantsPostResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/chaincode/{chainCode}:
      get:
        tags:
        - SubMerchant
        summary: Retrieve Payfac Submerchant created in a selected date range
        description: Find sub-merchants boarded.Date range cannot exceed 90 days between fromCreatedDate and toCreatedDate.
        operationId: FindSubmerchants
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The Chain Code a list of submerchants will be returned for
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: fromCreatedDate
          in: query
          description: Filter by when the sub-merchant was created
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
        - name: toCreatedDate
          in: query
          description: Filter by when the sub-merchant was created
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
        - name: sortBy
          in: query
          description: Sort by certain value
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
            - dbaName
            - createdDate
            - createdBy
        - name: sortOrder
          in: query
          description: Sort in ascending or descending order
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
            - ASC
            - DESC
        - name: limit
          in: query
          description: Limit of Sub-Merchants to respond. Maximum limit is 10.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: offset
          in: query
          description: Row number by which to begin the list (e.g. 10 would start with 10th submerchant)
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: underwritingStatus
          in: query
          description: Look up submerchnats by underwriting status
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
            - Approved
            - Rejected
            - Pending
        - name: divisionCode
          in: query
          description: Division Code. Only applicable for PayFacs that are using Divisions.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: "001"
        responses:
          "200":
            description: Success
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubMerchantsFindGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/chaincode/{chainCode}/vas/{vas}:
      get:
        tags:
        - SubMerchant
        summary: Find submerchants with Value Added Services they are enrolled for.
        description: Find submerchants with the Value Added Services they are enrolled for. Date range cannot exceed 90 days between fromCreatedDate and toCreatedDate. A link will be displayed in the results to view additional records. The license key needs to be sent in the request header each time the link is used to view additional records.
        operationId: FindSubmerchantsVAS
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: chainCode
          in: path
          description: The Chain Code a list of submerchants will be returned for
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: vas
          in: path
          description: The Value Added Service a submerchant under a specific Chain is enrolled for
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - OmniToken
            - PassToken
            - RecurringBilling
            - AccountUpdater
            - PinlessDebit
            - PinDebit
            - eCheck
            - FraudSight
            - ReviewTrackers
            - SaferPayments
        - name: fromCreatedDate
          in: query
          description: Filter by when the sub-merchant was created
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
        - name: toCreatedDate
          in: query
          description: Filter by when the sub-merchant was created
          required: true
          style: form
          explode: true
          schema:
            type: string
            format: date
        - name: sortBy
          in: query
          description: Sort by certain value
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
            - dbaName
            - createdDate
            - createdBy
        - name: sortOrder
          in: query
          description: Sort in ascending or descending order
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
            - ASC
            - DESC
        - name: limit
          in: query
          description: Limit of Sub-Merchants to respond. Maximum limit is 10.
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: offset
          in: query
          description: Row number by which to begin the list (e.g. 10 would start with 10th submerchant)
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: underwritingStatus
          in: query
          description: Look up submerchnats by underwriting status.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
            - Approved
            - Rejected
            - Pending
        - name: divisionCode
          in: query
          description: Division Code. Only applicable for PayFacs that are using Divisions.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: "001"
        responses:
          "200":
            description: Success
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubMerchantsFindVasGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/{id}:
      get:
        tags:
        - SubMerchant
        summary: Get information of a PayFac submerchant resource.
        description: URI to get information of a PayFac submerchant resource.
        operationId: GetSubmerchant
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SubMerchantsGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      put:
        tags:
        - SubMerchant
        summary: Update information of a PayFac submerchant resource.
        description: "URI to update information of a PayFac submerchant resource.Please note that all PUT requests are replace requests, and any optional attribute that was provided earlier, but missed in the PUT request will be overridden with NULL."
        operationId: UpdateSubmerchant
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubMerchantForUpdate'
          required: true
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DefaultSuccessResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      delete:
        tags:
        - SubMerchant
        summary: Remove a submerchant from the PayFac submerchants collection.
        description: URI to remove a submerchant from the PayFac submerchants collection.
        operationId: DeleteSubmerchant
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: Success
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DefaultSuccessResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      patch:
        tags:
        - SubMerchant
        summary: Update all information of a PayFac submerchant resource
        description: URI to update all information of a PayFac submerchant resource
        operationId: PatchSubmerchant
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubMerchantForPatch'
          required: true
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SubMerchantsGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/{id}/owners:
      get:
        tags:
        - Owners
        summary: Retrieve all owners of a PayFac submerchant.
        description: URI to get all owners of a PayFac submerchant.
        operationId: GetOwners
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OwnersGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      post:
        tags:
        - Owners
        summary: Add a new owner to a PayFac submerchant owners collection.
        description: URI to add a new owner to a PayFac submerchant owners collection.
        operationId: AddOwner
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Owner'
          required: true
        responses:
          "201":
            description: Created
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OwnersGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/{id}/owners/{type}:
      get:
        tags:
        - Owners
        summary: To get an owner from a PayFac submerchant owners collection.
        description: URI to get an owner from a PayFac submerchant owners collection.
        operationId: GetOwner
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: type
          in: path
          description: Ownership Type
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - ControlOwner
            - BeneficialOwner1
            - BeneficialOwner2
            - BeneficialOwner3
            - BeneficialOwner4
            - BeneficialOwner5
            - BeneficialOwner6
            - BeneficialOwner7
            - BeneficialOwner8
            - BeneficialOwner9
            - BeneficialOwner10
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OwnersTypeGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      put:
        tags:
        - Owners
        summary: Update an owner information of a PayFac SubMerchant.
        description: "URI to update an owner information of a PayFac SubMerchant.Please note that all PUT requests are replace requests, and any optional attribute that was provided in the POST(Create) request but missed in the PUT(replace) request will be replaced with a NULL value."
        operationId: UpdateOwner
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: type
          in: path
          description: Ownership Type
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - ControlOwner
            - BeneficialOwner1
            - BeneficialOwner2
            - BeneficialOwner3
            - BeneficialOwner4
            - BeneficialOwner5
            - BeneficialOwner6
            - BeneficialOwner7
            - BeneficialOwner8
            - BeneficialOwner9
            - BeneficialOwner10
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerForUpdate'
          required: true
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OwnerForUpdateResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      delete:
        tags:
        - Owners
        summary: Remove an owner from the owners collection.
        description: URI to remove an owner from the owners collection.
        operationId: DeleteOwner
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: type
          in: path
          description: Ownership Type
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - BeneficialOwner1
            - BeneficialOwner2
            - BeneficialOwner3
            - BeneficialOwner4
            - BeneficialOwner5
            - BeneficialOwner6
            - BeneficialOwner7
            - BeneficialOwner8
            - BeneficialOwner9
            - BeneficialOwner10
        responses:
          "200":
            description: Success
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DefaultSuccessResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/{id}/owners/{type}/issuedids:
      get:
        tags:
        - Issued IDs
        summary: Get all IssuedIds for an owner(existing) of a PayFac submerchant.
        description: URI to get all IssuedIds for an owner(existing) of a PayFac submerchant.
        operationId: GetIssuedIds
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: type
          in: path
          description: Ownership Type
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - ControlOwner
            - BeneficialOwner1
            - BeneficialOwner2
            - BeneficialOwner3
            - BeneficialOwner4
            - BeneficialOwner5
            - BeneficialOwner6
            - BeneficialOwner7
            - BeneficialOwner8
            - BeneficialOwner9
            - BeneficialOwner10
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/IssuedIdsGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      post:
        tags:
        - Issued IDs
        summary: Add a new IssuedId for an owner(existing) of a PayFac submerchant.'
        description: URI to add a new IssuedId for an owner(existing) of a PayFac submerchant.
        operationId: AddIssuedId
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: type
          in: path
          description: Ownership Type
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - ControlOwner
            - BeneficialOwner1
            - BeneficialOwner2
            - BeneficialOwner3
            - BeneficialOwner4
            - BeneficialOwner5
            - BeneficialOwner6
            - BeneficialOwner7
            - BeneficialOwner8
            - BeneficialOwner9
            - BeneficialOwner10
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedId'
          required: true
        responses:
          "201":
            description: Created
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/IssuedIdsPostResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
    /submerchants/{id}/owners/{type}/issuedids/{idtype}:
      get:
        tags:
        - Issued IDs
        summary: Get an IssuedId for an owner(existing) of a PayFac submerchant.
        description: URI to get an IssuedId for an owner(existing) of a PayFac submerchant.
        operationId: GetIssuedId
        parameters:
        - name: v-correlation-id
          in: header
          description: The unique UUID that is sent in each request
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
        - name: Content-Type
          in: header
          description: The original media type of the resource
          required: false
          style: simple
          explode: false
          schema:
            type: string
            default: application/json
        - name: id
          in: path
          description: The resource ID of the submerchant
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: type
          in: path
          description: Ownership Type
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - ControlOwner
            - BeneficialOwner1
            - BeneficialOwner2
            - BeneficialOwner3
            - BeneficialOwner4
            - BeneficialOwner5
            - BeneficialOwner6
            - BeneficialOwner7
            - BeneficialOwner8
            - BeneficialOwner9
            - BeneficialOwner10
        - name: idtype
          in: path
          description: ID Type
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
            - AlienId
            - CreditBureau
            - DriversLicense
            - StateId
            - MexicanConsulate
            - MilitaryId
            - Other
            - Passport
        responses:
          "200":
            description: OK
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/IssuedIdsTypeGetResponse'
          "400":
            description: Bad Request
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/400ErrorResponse'
          "401":
            description: Unauthorized
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/401ErrorResponse'
          "403":
            description: Forbidden
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/403ErrorResponse'
          "404":
            description: Not Found
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/404ErrorResponse'
          "500":
            description: Server Error
            headers:
              v-correlation-id:
                style: simple
                explode: false
                schema:
                  type: string
                  format: uuid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/500ErrorResponse'
        security:
        - api_key: []
      put:
        tags:
[...]
